{% load static %}

<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'application/ex.css' %}">
    <title>モテ度診断</title>
</head>

<body>

    
    
    <div id="quiz-container">


        {% for question in questions %}
        <div class="question" {% if not forloop.first %}style="display:none;"{% endif %}>
    
            {% ifchanged question.category %}
                <h2>{{ question.get_category_display }}</h2>
            {% endifchanged %}
    
            <h3>
                Q{{ question.order }}. {{ question.text }}
            </h3>
    
            {% for choice in question.random_choices %}
                <label>
                    <input
                        type="radio"
                        name="question_{{ question.id }}"
                        value="{{ choice.points }}"
                    >
    
                    {{ choice.text }}
                </label>
                <br>
            {% endfor %}

            
        </div>
        {% endfor %}
    
    </div>
    
    <button type="button" id="nextButton">次へ</button>
    <button type="button" id="backButton">戻る</button>
    
    <script>
        const questions = document.querySelectorAll(".question");
        const nextButton = document.getElementById("nextButton");
        const backButton = document.getElementById("backButton");
    
        let currentQuestion = 0;

        let totalPoints = 0;
    
        nextButton.addEventListener("click", function() {
    

            const selected = questions[currentQuestion].querySelector(
                'input[type="radio"]:checked'
            );

            if (!selected) {
                alert("回答を選択してください");
                return;
            }

            totalPoints += Number(selected.value);
            
            // 現在の問題を非表示
            questions[currentQuestion].style.display = "none";
    
            // 次の問題へ
            currentQuestion++;
    
            // 次の問題を表示
            if (currentQuestion < questions.length) {
                questions[currentQuestion].style.display = "block";
            }

            
    
            // 最後の問題ならボタンを結果にする
            if (currentQuestion === questions.length - 1) {
                nextButton.textContent = "結果";
            }
    
            // 結果ページに飛ぶ
            if (currentQuestion >= questions.length) {
                window.location.href = "/application/result/?points=" + totalPoints;
            }
        });

        backButton.addEventListener("click",function(){
            if(currentQuestion > 0){
                questions[currentQuestion].style.display = "none";

                currentQuestion--;

                questions[currentQuestion].style.display = "block";
            }
        });
    </script>
</body>
</html>