{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'application/index.css' %}">
    <title>診断</title>
  
</head>

<body>
    <!-- スタート画面 -->
    <section class="screen active" id="screen-start">
        <p class="eyebrow">LOVE POTENTIAL CHECK</p>
        <h1 class="title-main">あなたの<span>モテ度</span><br>診断してみよう</h1>

        <div class="cta-area">
            <a href="{% url 'question' %}" class="btn-primary">
                診断を始める
            </a>
            <p class="meta-note">直感でこたえてね</p>
        </div>
    </section>
</body>
</html>